# .gitignore

# Migrations
*/migrations/*.py
*/migrations/*.pyc
!*/migrations/__init__.py

# Virtual Environment
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Database
db.sqlite3

# Environment variables
.env

# VS Code
.vscode/

# Pycache
__pycache__/
*.py[cod]
*.pyc